<table border='1'>
    	<tr>
    		<th colspan='3'>Risk: 0.95</th>
    	</tr>
    	<tr>
    		<td colspan='3'><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Shipwreck</th>
      <th>Lagoon</th>
      <th>Treasure Island</th>
      <th>Hidden Cove</th>
      <th>Harpoon Harry</th>
      <th>Payout</th>
      <th>Percent</th>
      <th>Expected Ratio</th>
      <th>NP</th>
      <th>NER</th>
      <th>Raw</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td></td>
      <td>Buck Cutlass</td>
      <td>Federismo Corvallio</td>
      <td></td>
      <td></td>
      <td>49</td>
      <td>0.053753</td>
      <td>2.633902</td>
      <td>53.811268</td>
      <td>93.105567</td>
      <td>91.337324</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>Buck Cutlass</td>
      <td>Gooblah the Grarrl</td>
      <td></td>
      <td></td>
      <td>14</td>
      <td>0.154466</td>
      <td>2.162528</td>
      <td>72.421051</td>
      <td>91.463538</td>
      <td>90.606626</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>Franchisco Corvallio</td>
      <td>Federismo Corvallio</td>
      <td></td>
      <td></td>
      <td>14</td>
      <td>0.154466</td>
      <td>2.162528</td>
      <td>72.421051</td>
      <td>91.463538</td>
      <td>90.606626</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>Buck Cutlass</td>
      <td>Federismo Corvallio</td>
      <td>Scurvy Dan the Blade</td>
      <td></td>
      <td>98</td>
      <td>0.025419</td>
      <td>2.491014</td>
      <td>40.607743</td>
      <td>92.662202</td>
      <td>90.319751</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Sir Edmund Ogletree</td>
      <td>Buck Cutlass</td>
      <td>Federismo Corvallio</td>
      <td></td>
      <td></td>
      <td>98</td>
      <td>0.023604</td>
      <td>2.313233</td>
      <td>39.302358</td>
      <td>92.049297</td>
      <td>89.675685</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Lucky McKyriggan</td>
      <td>Buck Cutlass</td>
      <td>Federismo Corvallio</td>
      <td></td>
      <td></td>
      <td>98</td>
      <td>0.023604</td>
      <td>2.313233</td>
      <td>39.302358</td>
      <td>92.049297</td>
      <td>89.675685</td>
    </tr>
    <tr>
      <th>7</th>
      <td></td>
      <td>Franchisco Corvallio</td>
      <td>Gooblah the Grarrl</td>
      <td></td>
      <td></td>
      <td>4</td>
      <td>0.443878</td>
      <td>1.775514</td>
      <td>91.030835</td>
      <td>89.541254</td>
      <td>89.608285</td>
    </tr>
    <tr>
      <th>8</th>
      <td></td>
      <td>Buck Cutlass</td>
      <td>Gooblah the Grarrl</td>
      <td>Scurvy Dan the Blade</td>
      <td></td>
      <td>28</td>
      <td>0.073043</td>
      <td>2.045212</td>
      <td>59.217526</td>
      <td>90.954740</td>
      <td>89.526566</td>
    </tr>
    <tr>
      <th>9</th>
      <td></td>
      <td>Franchisco Corvallio</td>
      <td>Federismo Corvallio</td>
      <td>Scurvy Dan the Blade</td>
      <td></td>
      <td>28</td>
      <td>0.073043</td>
      <td>2.045212</td>
      <td>59.217526</td>
      <td>90.954740</td>
      <td>89.526566</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Sir Edmund Ogletree</td>
      <td>Buck Cutlass</td>
      <td>Gooblah the Grarrl</td>
      <td></td>
      <td></td>
      <td>28</td>
      <td>0.067830</td>
      <td>1.899248</td>
      <td>57.912141</td>
      <td>90.239575</td>
      <td>88.784841</td>
    </tr>
  </tbody>
</table></td>
    	</tr>
    	<tr>
    		<td>
            <center>
    			<table border='1'>
    				<tr>
    					<th>TER</th>
    					<td>21.842</td>
    				</tr>
    				<tr>
    					<th>Bust</th>
    					<td>19.344</td>
    				</tr>
    				<tr>
    					<th>Partial</th>
    					<td>44.388</td>
    				</tr>
    				<tr>
    					<th>Gain</th>
    					<td>36.269</td>
    				</tr>
    			</table>
            </center>
    		</td>
    		<td><center><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Percent</th>
      <th>Cumulative</th>
    </tr>
    <tr>
      <th>Odds</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.193436</td>
      <td>0.193436</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.443878</td>
      <td>0.637314</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.127091</td>
      <td>0.764405</td>
    </tr>
    <tr>
      <th>42</th>
      <td>0.149766</td>
      <td>0.914172</td>
    </tr>
    <tr>
      <th>49</th>
      <td>0.003450</td>
      <td>0.917621</td>
    </tr>
    <tr>
      <th>70</th>
      <td>0.032075</td>
      <td>0.949697</td>
    </tr>
    <tr>
      <th>147</th>
      <td>0.027980</td>
      <td>0.977676</td>
    </tr>
    <tr>
      <th>245</th>
      <td>0.022324</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table></center></td>
    		<td><center><img src='daybet.png' style='width:500px;'></center></td>
    	</tr>
    </table><br><br>
    